<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
    <meta charset="UTF-8">
    <title>Mahjong Stat</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
    <div id = "links">
        <a href="{{url_for('home')}}" >Tiles Needed To Win</a>
        <a href="{{url_for('scoreCalculator')}}" >HK Score Calculator</a>
    </div>
    <h1>Tiles Needed To Win</h1>
    <div id="windSelection">
        <label for="seatWind">Select Seat Wind:</label>
        <select name="seatWind" id="seatWind">
            <option value="1">East</option>
            <option value="2">South</option>
            <option value="3">West</option>
            <option value="4">North</option>
        </select>
        <label for="prevailingWind">Select Seat Wind:</label>
        <select name="prevailingWind" id="prevailingWind">
            <option value="1">East</option>
            <option value="2">South</option>
            <option value="3">West</option>
            <option value="4">North</option>
        </select>
    </div>
    <br>
    <div id="container">
        <div>
            <b>Select type of declared meld and right click for 'Declared Melds'</b>
            <br>
            <form id="meldType">
                <input type="radio" id="Pung" name="meldType" value="Pung">
                <label for="Pung">Pung</label><br>
                <input type="radio" id="Chow" name="meldType" value="Chow">
                <label for="Chow">Chow</label><br>
                <input type="radio" id="Kong" name="meldType" value="Kong">
                <label for="Kong">Kong</label>
            </form>
            <b>Additional winning conditions</b>
            <br>
            <form id="winningConditions">
                <input type="radio" id="none" name="winCon" value="0">
                <label for="none">None</label><br>
                <input type="radio" id="selfPick" name="winCon" value="1">
                <label for="selfPick">Self-Pick</label><br>
                <input type="radio" id="robbingKong" name="winCon" value="1">
                <label for="robbingKong">Robbing Kong</label><br>
                <input type="radio" id="lastCatch" name="winCon" value="1">
                <label for="lastCatch">Win by Last Catch</label>
                <input type="radio" id="winKong" name="winCon" value="2">
                <label for="winKong">Win by Kong</label><br>
                <input type="radio" id="winDoubleKong" name="winCon" value="9">
                <label for="winDoubleKong">Win by Double-Kong</label><br>
                <input type="radio" id="heavenlyHand" name="winCon" value="13">
                <label for="heavenlyHand">Heavenly Hand</label><br>
                <input type="radio" id="earthlyHand" name="winCon" value="13">
                <label for="earthlyHand">Earthly Hand</label>
            </form>
        </div>
        <div>
            <div>
                <h2>Selection:</h2>
                <div id="selection"></div>
                <br>
                <b>Current Hand:</b>
                <div id="handContainer"></div>
                <b>Declared Melds:</b>
                <div id="lockContainer"></div>
                <input type = "button" value="Check hand" onclick="checkHand()">
                <input type = "button" value="Clear hand" onclick="clearHand()">
            </div>
            <div id="output">
                <b>Winning Hand:</b>
                <div id="sampleOutput"></div>
            </div>
        </div>
        <h2>
            Input hand to see what tiles you are waiting for and the score you will get.<br><br>
            Left-click on tiles in selection to hand.<br><br>
            Right-click on tiles in selection and select type of meld to add to Declared melds.<br><br>
            Right-click on tiles in hand to remove them.<br><br>
            Right-click on melds in Declared melds to remove the.<br><br>
        </h2>
    </div>

</body>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
<script src="{{url_for('static', filename='js/tilesNeededscript.js')}}"></script>
<script src="{{url_for('static', filename='js/tilesNeeded.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_tilesNeeded.css') }}">
</html>